/*   HEADER   */
/*   Navbar   */

.edf-navbar .nav-link:hover
{
border-bottom: 3px solid;
border-color: white;
color: white;
font-weight: 500;
}

/*   Background color   */
.color_bg1{
    background-color: #F2994A;
}
